.form-check-input[type=checkbox]{
    width: 55px !important;
    height: 30px;
}

.form-check-input[type=radio]{
    width: 30px !important; 
    height: 30px !important;
}

.form-check-label{
    font-size: 20px;
    padding: 0 10px;
}

#tracking_accordionFlushBackgroundSubtraction{
    display: none;
}

.accordion-flush .accordion-item:last-child {
    border-bottom: 0;
    border-left: 1px solid #99c8ef;
    border-right: 1px solid #99c8ef;
    border-bottom: 1px solid #99c8ef;
}
.accordion-button{
    background: #e0f1ff;
    border: 1px solid rgb(153 200 239)

}
.slider{
    width: 50%;
} 
.container{
    max-width: 1500px;
}

.nav-link{
    font-size: x-large;
    border: 1px solid #0a1f6c33;
    color: #4a515c;
}
.container .nav-link.active{
    color: #0d6efd;
    font-weight: 600;
    background-color: #fff;
    border-color: #aab2b9 #acb8c5 #e4efff;
    background: #62a0fd2b;
}