<!DOCTYPE html>
<html>

<head>
  
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/select2-bootstrap-5-theme@1.3.0/dist/select2-bootstrap-5-theme.min.css" />


  <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
  <!-- <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script> -->
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.0/dist/jquery.min.js"></script>

  <script>
    var api_server='{{ api_server }}';
    var stream_source='{{ stream_source }}';
  </script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/script.js') }}"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>

</head>

<body >
  <div class="container">
    <h1 class="p-2"> OBJECT DETECTION SERVER </h1>
      
    
  
      <div id="RaspberryServoCameraInput" class="row gx-5 pb-4">     
        <div class="col-md-4">
          <div class="d-flex" style="align-items: baseline;">
            <label for="x_axisServoDegree_slider" class="me-3" style="align-self: cente">X Axis : </label>
            <code><h4 id="x_axisServoDegree_valueText"> 0° </h4></code>
          </div>
          <input type="range" onchange="updateServoMotorValue('x')" min="-90" max="90" value="0" step="1"
            class="slider w-100" id="x_axisServoDegree_slider">  
        </div>   
        <div class="col-md-4">
          <div class="d-flex" style="align-items: baseline;">
            <label for="y_axisServoDegrees_slider" class="me-3" style="align-self: cente">Y Axis : </label>
            <code><h4 id="y_axisServoDegree_valueText"> 80° </h4></code>
          </div>
          <input type="range" onchange="updateServoMotorValue('y')" min="-90" max="90" value="80" step="1"
            class="slider w-100" id="y_axisServoDegree_slider">
        </div>   
        <div class="col-md-4">
          <div class="d-flex" style="align-items: baseline;">
            <label for="cameraZoom_slider" class="me-3" style="align-self: cente">Camera zoom : </label>
            <code><h4 id="cameraZoom_valueText"> 1 </h4></code>
          </div>
          <input type="range" onchange="updateRaspberryCameraZoomValue()" min="1" max="4" value="1" step=".2"
            class="slider w-100" id="cameraZoom_slider">
        </div>
      </div>
         
      <div id="videoFilesSelect" class="row gx-5 pb-4" >
          <div class="col-md-4 ">
            <label for="inputVideoFile">Select a Video file</label>
            <select id="inputVideoFile" class="form-select" onchange="onVideoFileSelected(event)" aria-label="select video">
              <option value="highway1.mp4" title="">highway1.mp4</option>
              <option selected="selected" value="highway2.mp4" title="">highway2.mp4</option>
              <option value="highway3.mp4" title="">highway3.mp4</option>
              <option value="highway4.mp4" title="">highway4.mp4</option>
              <option value="highway5.mp4" title="">highway5.mp4</option>
              <option value="highway6.mp4" title="">highway6.mp4</option>
              <option value="highway7.mp4" title="">highway7.mp4</option>
              <option value="highway8.mp4" title="">highway8.mp4</option>
              <option value="highway9.mp4" title="">highway9.mp4</option>
              <option value="highway10.mp4" title="">highway10.mp4</option>
              <option value="highway11.mp4" title="">highway11.mp4</option>
              <option value="highway12.mp4" title="">highway12.mp4</option>
            </select>
          </div>
          <div class="col-md-4 ">
              <div class="d-flex" style="align-items: baseline;">
                <h5 class="me-3" style="align-self: cente">BS Select Video Resolution : </h5>
                <code>
                  <h4 id="BSinputVideoResolution_ValueText"> 100 %</h4>
                </code>
              </div>
              <input type="range" onchange="onChangeVideoResolutionSlider('BS')"  min="25" max="100" value="100" step="5"
                class="video_size_slider" id="BSinputVideoResolution_slider">
          </div>
          <div class="col-md-4 ">
            <div class="d-flex" style="align-items: baseline;">
              <h5 class="me-3" style="align-self: cente">CNN Select Video Resolution : </h5>
              <code>
                <h4 id="CNNinputVideoResolution_ValueText"> 100 %</h4>
              </code>
            </div>
            <input type="range" onchange="onChangeVideoResolutionSlider('CNN')"  min="25" max="100" value="100" step="5"
              class="video_size_slider" id="CNNinputVideoResolution_slider">
        </div>
      </div>
        
      <div class="row gx-5 px-4 pb-4">
        <div class="form-group col-md-8 px-0 display-flex  align-self-center align-items-center text-align-last-justify">
          <div class="btn-group me-2" role="group" aria-label="First group">
            <button class="p-2 btn btn-success btn-lg " onclick="onClickToggleStopStart()" id="startStopButton"> Start
            </button>
            <button class="p-2 btn btn-info btn-lg " onclick="onClickGoToNextFrame()" id="goToNextFrameButton"> Next Frame
            </button>
          </div>
          <div class="btn-group me-2  " role="group" aria-label="First group">
            <button class="px-2 btn btn-primary btn-lg " disabled onclick="onClickReset()" id="resetButton"> Reset
            </button>
          </div>
          <div class="btn-group me-3 " role="group" aria-label="First group">
            <button class="p-2 btn btn-warning btn-lg " onclick="onClickStartOfflineDetection()"
              id="offlineDetectionButton">
              <span class="spinner-border spinner-border-sm " style="display: none" role="status"
                aria-hidden="true"></span>
              Start offline detection
            </button>
          </div>
          
          <div class="btn-group form-check form-switch">
            <input class="form-check-input" type="checkbox" id="streamStimulationCheckbox"  onclick="onCheckedActivateStreamSimulation()"  checked >
            <label class="form-check-label mx-2" for="streamStimulationCheckbox" >Real time stream simulation</label>
          </div>
        </div>
      </div>
      <div class="row gx-5 px-4 pb-3">
        <div class="d-flex" style="align-items: baseline;">
          <h5 class="me-3" style="align-self: cente">Video start from  </h5>
          <code>
            <h4 id="inputVideoSecond_ValueText"> 0%</h4>
          </code>
        </div>
        <input type="range" onchange="onChangeVideoSecondSlider()"  min="0" max="100" value="0" step="1"
          class="slider" id="inputVideoSecond_slider">
      </div>  

      <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link active" data-bs-toggle="tab" onclick="onClickSwitchTab('CNN_DETECTOR')" href="#detectorStreamTab">CNN Detector Stream</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-bs-toggle="tab" onclick="onClickSwitchTab('BACKGROUND_SUBTRACTION')" href="#backgroundSubtractionStreamTab">Background Subtraction Stream</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-bs-toggle="tab" onclick="onClickSwitchTab('TRACKING_STREAM')" href="#trackingStreamTab">tracking Stream</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-bs-toggle="tab" onclick="onClickSwitchTab('HYBRID_TRACKING_STREAM')" href="#hybridTrackingStreamTab">Hybrid tracking Stream</a>
        </li>
      </ul>
      
      <!-- Tab panes -->
      <div class="tab-content">
        <div class="tab-pane container active px-0 "  id="detectorStreamTab">
          <div class="accordion accordion-flush px-0 py-2" id="accordionFlushDetectorParams">
            <div class="accordion-item">
              <h2 class="accordion-header" id="flush-headingOne">
                <button class="accordion-button " type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseDetectorParams" aria-expanded="true" aria-controls="flush-collapseDetectorParams">
                  <h4 class="m-0">
                    Detector Stream Parametres
                  </h4>
                </button>
              </h2>
              <div id="flush-collapseDetectorParams" class="accordion-collapse collapse show" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushDetectorParams">
                <div class="accordion-body py-0">
                      <div class="row my-2">
                        <div class="col input-group">
                          <h5 class="m-0" id="selectModelText">
                            Aucun modele de detection chargé
                          </h5>
                        </div>
                      </div>
                      <div class="row my-1">
                        <div class="col-md d-inline-flex">                            
                          <select id="objectDetectionSelect" onchange="onChangeObjectDetection('for_detection')" class="p-2 form-select"
                            aria-label="Default select example">
                          </select>
                          <button class="p-2 btn btn-success btn-md w-25" type="button" onclick="onClickLoadModel('for_detection')"
                            id="loadModelButton">
                            <span class="spinner-border spinner-border-sm " style="display: none" role="status"
                              aria-hidden="true"></span>
                            load model
                          </button>
                        </div>                       
                      </div>
                      <div class="row my-1">
                        <div class="col-md-12">
                          <label for="multiSelectClasses">Select classes to detecte</label>
                          <select class="form-select-lg" id="multiSelectClasses" data-placeholder="Detecte all classes" onchange="onClickMultiSelectClasses('multiSelectClasses')" multiple>
                            <!-- <option selected="selected">SELECT ALL</option> -->
                          </select>
                        </div>                       
                      </div>
                      <div class="row my-1">
                        <div class="col-md-6 py-2">
                          <div class="d-flex" style="align-items: baseline;">
                            <h5 class="me-3" style="align-self: cente">threshold : </h5>
                            <code>
                              <h4 id="threshold_ValueText"> 0.5 </h4>
                            </code>
                          </div>
                          <input type="range" onchange="updateCNNDetectorParamValue('threshold')" min="0" max="1" value="0.5" step="0.05"
                            class="slider w-100" id="threshold_Slider">
                        </div>
                        <div class="col-md-6 py-2">
                          <div class="d-flex" style="align-items: baseline;">
                            <h5 class="me-3" style="align-self: cente">nms_threshold : </h5>
                            <code>
                              <h4 id="nmsThreshold_ValueText"> 0.5 </h4>
                            </code>
                          </div>
                          <input type="range" onchange="updateCNNDetectorParamValue('nmsThreshold')" min="0" max="1" value="0.5" step="0.05"
                            class="slider w-100" id="nmsThreshold_Slider">
                        </div>
                      </div>
                      <div class="row ">
                        <div class="col-md-6 ">
                          <div class="d-flex" style="align-items: baseline;">
                            <h5 class="me-3" style="align-self: cente">network input size : </h5>
                            <code>
                              <h4 id="networkInputSize_ValueText"> 192 </h4>
                            </code>
                          </div>
                          <input type="range" onchange="updateCNNDetectorParamValue('networkInputSize')" min="32" max="640" value="416" step="32"
                            class="slider w-100" id="networkInputSize_Slider">
                        </div>
                        

                      </div> 

                 </div>
              </div>
            </div>
          </div>
          <div  class="col" style="display: flex; flex-direction: column; width:100%;">
            <img id="detectorStream"  />
          </div>
        </div>
        <div class="tab-pane container fade px-0 "  id="backgroundSubtractionStreamTab">
          <div class="accordion accordion-flush px-0 py-2" id="accordionFlushBackgroundSubtraction">
            <div class="accordion-item">
              <h2 class="accordion-header" id="flush-headingOne">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse-BackgroundSub" aria-expanded="true" aria-controls="flush-collapse-BackgroundSub" >
                  <h4 class="m-0">
                    Background subtraction Stream Parametres
                  </h4>
                </button>
              </h2>
              <div id="flush-collapse-BackgroundSub" class="accordion-collapse collapse show" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushBackgroundSubtraction">
                <div class="accordion-body">
                    <div class="row my-1">
                      <div class="col-md-6 py-2 ">
                        <div class="d-flex" style="align-items: baseline;">
                          <h5 class="me-3" style="align-self: cente">varThreshold : </h5>
                          <code>
                            <h4 id="varThresholdValueText"> 160 </h4>
                          </code>
                        </div>
                        <input type="range" onchange="updateBackgroundSubtractionParamValue('varThreshold')" min="1" max="255" value="100" step="1"
                          class="slider w-100" id="varThresholdSlider">
                      </div> 
                      <div class="col-md-6 py-2 ">
                        <div class="d-flex" style="align-items: baseline;">
                          <h5 class="me-3" style="align-self: cente">history : </h5>
                          <code>
                            <h4 id="historyValueText"> 400 </h4>
                          </code>
                        </div>
                        <input type="range" onchange="updateBackgroundSubtractionParamValue('history')" min="0" max="1000" value="400" step="5"
                          class="slider w-100" id="historySlider">
                      </div>
                    </div>
                    <div class="row my-1">
                      <div class="col-md-6 py-1">
                        <div class="d-flex" style="align-items: baseline;">
                          <h5 class="me-3" style="align-self: cente">morphologyEx iteration : </h5>
                          <code>
                            <h4 id="morphologicalExValueText"> 2 </h4>
                          </code>
                        </div>
                        <input type="range" onchange="updateBackgroundSubtractionParamValue('morphologicalEx')" min="0" max="5" value="3" step="1"
                          class="slider w-100" id="morphologicalExSlider">
                      </div>
                      <div class="col-md-6 py-1">
                        <div class="d-flex" style="align-items: baseline;">
                          <h5 class="me-3" style="align-self: cente">kernel size : </h5>
                          <code>
                            <h4 id="morphologicalKernelSizeValueText"> 3 </h4>
                          </code>
                        </div>
                        <input type="range" onchange="updateBackgroundSubtractionParamValue('morphologicalKernelSize')" min="3" max="11" value="7" step="2"
                          class="slider w-100" id="morphologicalKernelSizeSlider">
                      </div>
                      <div class="col-md-6 py-1">
                        <div class="d-flex" style="align-items: baseline;">
                          <h5 class="me-3" style="align-self: cente">Gaussien Blur kernel size : </h5>
                          <code>
                            <h4 id="blurKernelSizeValueText"> 1 </h4>
                          </code>
                        </div>
                        <input type="range" onchange="updateBackgroundSubtractionParamValue('blurKernelSize')" min="1" max="11" value="1" step="2"
                          class="slider w-100" id="blurKernelSizeSlider">
                      </div>
                      <div class="col-md-6 py-1">
                        <div class="d-flex" style="align-items: baseline;">
                          <h5 class="me-3" style="align-self: cente">min detected area : </h5>
                          <code>
                            <h4 id="minBoxSizeValueText"> 300 </h4>
                          </code>
                        </div>
                        <input type="range" onchange="updateBackgroundSubtractionParamValue('minBoxSize')" min="50" max="2500" value="300" step="50"
                          class="slider w-100" id="minBoxSizeSlider">
                      </div> 
                    </div>      
                </div>
              </div>
            </div>
          </div>
          <div  class="col" style="display: flex; flex-direction: column;width: 100%;">
            <h2>Foreground Masks detection Detection</h2>
            <img id="backgroundSubStream_1" />
            <h2>Resized Foreground objects Detection</h2>
            <img id="backgroundSubStream_2" />
            <h2>Merged Foreground objects Detection</h2>
            <img id="backgroundSubStream_3" />
            
          </div>
        </div>
        <div class="tab-pane container px-0  fade" id="trackingStreamTab">  
          <div class="accordion accordion-flush px-0 py-2" id="tracking_accordionFlushMainParams">
            <div class="accordion-item">
              <h2 class="accordion-header" id="flush-headingOne">
                <button class="accordion-button " type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTrackingParams" aria-expanded="true" aria-controls="flush-collapseDetectorParams">
                  <h4 class="m-0">
                    Tracking Parametres 
                  </h4>
                </button>
              </h2>
              <div id="flush-collapseTrackingParams" class="accordion-collapse collapse show" aria-labelledby="flush-headingOne" data-bs-parent="#tracking_accordionFlushMainParams">
                <div class="accordion-body py-0">
                  <div class="row my-2">
                    <div class="col-md-6 align-items-center">
                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="trackWithDetectionRadio" onclick="onClickTrackWithDetection()"  checked>
                        <label class="form-check-label" for="trackWithDetectionRadio">Track using Detection</label>
                      </div>
                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="inlineRadioOptions"  id="trackWithBackgroundSubtractionRadio" onclick="onClickTrackWithBackgroundSubtraction()" >
                        <label class="form-check-label" for="trackWithBackgroundSubtractionRadio">Track using Background subtraction</label>
                      </div>
                    </div>
                    <div class="col-md-6 d-flex align-items-center">
                      <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" id="useCNNFeatureExtractionCheckbox"  onclick="onCheckedUseCNNFeatureExtraction()"  >
                        <label class="form-check-label mx-2" for="useCNNFeatureExtractionCheckbox" >Use CNN Feature Extraction</label>
                      </div>
                      <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" id="showMissingTracksCheckbox"  onclick="onCheckedShowMissingTracks()"  >
                        <label class="form-check-label mx-2" for="showMissingTracksCheckbox" >Show missing tracks</label>
                      </div>
                      <!-- <div class="btn-group" role="group" aria-label="First group">
                        <button class="p-2 btn btn-warning btn-lg " onclick="onClickStartOfflineTracking()"
                          id="offlineTrackingButton">
                          <span class="spinner-border spinner-border-sm " style="display: none" role="status"
                            aria-hidden="true">
                          </span>
                          Start offline tracking
                        </button>
                      </div> -->
                    </div>
                  </div>
                  <div class="row my-1">
                    <div class="col-md-6 py-2">
                      <div class="d-flex" style="align-items: baseline;">
                        <h5 class="me-3" style="align-self: cente">max cos distance between features' vectors: </h5>
                        <code>
                          <h4 id="maxCosDistanceValueText"> 0.2 </h4>
                        </code>
                      </div>
                      <input type="range" onchange="updateTrackingParamValue('maxCosDistance')" min="0" max="1" value="0.2" step="0.05"
                        class="slider w-100" id="maxCosDistanceSlider">
                    </div>
                    <div class="col-md-6 py-2">
                      <div class="d-flex" style="align-items: baseline;">
                        <h5 class="me-3" style="align-self: cente">max distance between prediction and detection : </h5>
                        <code>
                          <h4 id="maxDistanceValueText"> 0.7 </h4>
                        </code>
                      </div>
                      <input type="range" onchange="updateTrackingParamValue('maxDistance')" min="0" max="1" value="0.7" step="0.05"
                        class="slider w-100" id="maxDistanceSlider">
                    </div>
                  </div>
                  <div class="row my-1">

                    <div class="col-md-6 py-2">
                      <div class="btn-group form-check form-switch">
                        <input class="form-check-input" type="checkbox" id="activateDetectionCheckbox"  onclick="onCheckedActivateDetection()"  checked >
                        <label class="form-check-label mx-2" for="activateDetectionCheckbox" >activate detection</label>
                      </div>
                    </div>
                    <div class="col-md-6 py-2">
                      <div class="btn-group" role="group" aria-label="First group">
                        <button class="p-2 btn btn-warning btn-lg " onclick="onClickStartOfflineTracking()"
                          id="offlineTrackingButton">
                          <span class="spinner-border spinner-border-sm " style="display: none" role="status"
                            aria-hidden="true">
                          </span>
                          Start offline tracking
                        </button>
                      </div> 
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="accordion accordion-flush px-0 py-2" id="tracking_accordionFlushDetectorParams">
            <div class="accordion-item">
              <h2 class="accordion-header" id="flush-headingOne">
                <button class="accordion-button " type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseDetectorParams" aria-expanded="true" aria-controls="flush-collapseDetectorParams">
                  <h4 class="m-0">
                    Detector Stream Parametres - For Tracking
                  </h4>
                </button>
              </h2>
              <div id="flush-collapseDetectorParams" class="accordion-collapse collapse show" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushDetectorParams">
                <div class="accordion-body py-0">
                  <div class="row my-2">
                    <div class="col input-group">
                      <h5 class="m-0" id="tracking_selectModelText">
                        Aucun modele de detection chargé
                      </h5>
                    </div>
                  </div>
                  <div class="row my-1">
                    <div class="col-md d-inline-flex">                            
                      <select id="tracking_objectDetectionSelect" onchange="onChangeObjectDetection('for_tracking')" class="p-2 form-select"
                        aria-label="Default select example">
                      </select>
                      <button class="p-2 btn btn-success btn-md w-25" type="button" onclick="onClickLoadModel('for_tracking')"
                        id="tracking_loadModelButton">
                        <span class="spinner-border spinner-border-sm " style="display: none" role="status"
                          aria-hidden="true"></span>
                        load model
                      </button>
                    </div>
                  </div>
                  <!-- <div class="row my-1">
                    <div class="col-md-12">
                      <label for="tracking_multiSelectClasses">Select classes to detecte</label>
                      <select class="form-select-lg" id="tracking_multiSelectClasses" data-placeholder="Detecte all classes" onchange="onClickMultiSelectClasses('tracking_multiSelectClasses')" multiple>
                      </select>
                    </div>                       
                  </div> -->
                  <div class="row my-1">
                    <div class="col-md-6 py-2">
                      <div class="d-flex" style="align-items: baseline;">
                        <h5 class="me-3" style="align-self: cente">threshold : </h5>
                        <code>
                          <h4 id="tracking_threshold_ValueText"> 0.5 </h4>
                        </code>
                      </div>
                      <input type="range" onchange="updateCNNDetectorParamValue('tracking_threshold')" min="0" max="1" value="0.5" step="0.05"
                        class="slider w-100" id="tracking_threshold_Slider">
                    </div>
                    <div class="col-md-6 py-2">
                      <div class="d-flex" style="align-items: baseline;">
                        <h5 class="me-3" style="align-self: cente">nms_threshold : </h5>
                        <code>
                          <h4 id="tracking_nmsThreshold_ValueText"> 0.5 </h4>
                        </code>
                      </div>
                      <input type="range" onchange="updateCNNDetectorParamValue('tracking_nmsThreshold')" min="0" max="1" value="0.5" step="0.05"
                        class="slider w-100" id="tracking_nmsThreshold_Slider">
                    </div> 
                  </div>
                  <div class="row ">
                    <div class="col-md-6 ">
                      <div class="d-flex" style="align-items: baseline;">
                        <h5 class="me-3" style="align-self: cente">network input size : </h5>
                        <code>
                          <h4 id="tracking_networkInputSize_ValueText"> 416 </h4>
                        </code>
                      </div>
                      <input type="range" onchange="updateCNNDetectorParamValue('tracking_networkInputSize')" min="32" max="624" value="416" step="32"
                        class="slider w-100" id="tracking_networkInputSize_Slider">
                      </div>
                    </div>
                  </div>
              </div>
            </div>
          </div>
          <div class="accordion accordion-flush px-0 py-2" id="tracking_accordionFlushBackgroundSubtraction">
            <div class="accordion-item">
              <h2 class="accordion-header" id="flush-headingOne">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse-BackgroundSub" aria-expanded="true" aria-controls="flush-collapse-BackgroundSub" >
                  <h4 class="m-0">
                    Background subtraction Stream Parametres - for tracking
                  </h4>
                </button>
              </h2>
              <div id="flush-collapse-BackgroundSub" class="accordion-collapse collapse show" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushBackgroundSubtraction">
                <div class="accordion-body">
                    <div class="row my-1">
                      <div class="col-md-6 py-2 ">
                        <div class="d-flex" style="align-items: baseline;">
                          <h5 class="me-3" style="align-self: cente">varThreshold : </h5>
                          <code>
                            <h4 id="tracking_varThresholdValueText"> 100 </h4>
                          </code>
                        </div>
                        <input type="range" onchange="updateBackgroundSubtractionParamValue('tracking_varThreshold')" min="1" max="255" value="100" step="1"
                          class="slider w-100" id="tracking_varThresholdSlider">
                      </div> 
                      <div class="col-md-6 py-2 ">
                        <div class="d-flex" style="align-items: baseline;">
                          <h5 class="me-3" style="align-self: cente">history : </h5>
                          <code>
                            <h4 id="tracking_historyValueText"> 400 </h4>
                          </code>
                        </div>
                        <input type="range" onchange="updateBackgroundSubtractionParamValue('tracking_history')" min="0" max="1000" value="400" step="5"
                          class="slider w-100" id="tracking_historySlider">
                      </div>
                    </div>
                    <div class="row my-1">
                      <div class="col-md-6 py-1">
                        <div class="d-flex" style="align-items: baseline;">
                          <h5 class="me-3" style="align-self: cente">morphologyEx iteration : </h5>
                          <code>
                            <h4 id="tracking_morphologicalExValueText"> 2 </h4>
                          </code>
                        </div>
                        <input type="range" onchange="updateBackgroundSubtractionParamValue('tracking_morphologicalEx')" min="0" max="5" value="3" step="1"
                          class="slider w-100" id="tracking_morphologicalExSlider">
                      </div>
                      <div class="col-md-6 py-1">
                        <div class="d-flex" style="align-items: baseline;">
                          <h5 class="me-3" style="align-self: cente">kernel size : </h5>
                          <code>
                            <h4 id="tracking_morphologicalKernelSizeValueText"> 3 </h4>
                          </code>
                        </div>
                        <input type="range" onchange="updateBackgroundSubtractionParamValue('tracking_morphologicalKernelSize')" min="3" max="11" value="7" step="2"
                          class="slider w-100" id="tracking_morphologicalKernelSizeSlider">
                      </div>
                      <div class="col-md-6 py-1">
                        <div class="d-flex" style="align-items: baseline;">
                          <h5 class="me-3" style="align-self: cente">Gaussien Blur kernel size : </h5>
                          <code>
                            <h4 id="tracking_blurKernelSizeValueText"> 1 </h4>
                          </code>
                        </div>
                        <input type="range" onchange="updateBackgroundSubtractionParamValue('tracking_blurKernelSize')" min="1" max="11" value="1" step="2"
                          class="slider w-100" id="tracking_blurKernelSizeSlider">
                      </div>
                      <div class="col-md-6 py-1">
                        <div class="d-flex" style="align-items: baseline;">
                          <h5 class="me-3" style="align-self: cente">min detected area : </h5>
                          <code>
                            <h4 id="tracking_minBoxSizeValueText"> 300 </h4>
                          </code>
                        </div>
                        <input type="range" onchange="updateBackgroundSubtractionParamValue('tracking_minBoxSize')" min="50" max="2500" value="300" step="50"
                          class="slider w-100" id="tracking_minBoxSizeSlider">
                      </div> 
                    </div>      
                </div>
              </div>
            </div>
          </div>
          <div  class="col" style="display: flex; flex-direction: column;width: 100%;">
            <img id="trackingStream_1" />
            <img id="trackingStream_2" />
          </div>
        </div>
        <div class="tab-pane container px-0  fade" id="hybridTrackingStreamTab">  
         
          <div class="accordion accordion-flush px-0 py-2" id="hybridTracking_accordionFlushBackgroundSubtraction">
            <div class="accordion-item">
              <h2 class="accordion-header" id="flush-headingOne">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse-BackgroundSub" aria-expanded="true" aria-controls="flush-collapse-BackgroundSub" >
                  <h4 class="m-0">
                    Background subtraction Stream Parametres - for hybridTracking
                  </h4>
                </button>
              </h2>
              <div id="flush-collapse-BackgroundSub" class="accordion-collapse collapse show" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushBackgroundSubtraction">
                <div class="accordion-body">
                    <div class="row my-1">
                      <div class="col-md-6 py-2 ">
                        <div class="d-flex" style="align-items: baseline;">
                          <h5 class="me-3" style="align-self: cente">varThreshold : </h5>
                          <code>
                            <h4 id="hybridTracking_varThresholdValueText"> 100 </h4>
                          </code>
                        </div>
                        <input type="range" onchange="updateBackgroundSubtractionParamValue('hybridTracking_varThreshold')" min="1" max="255" value="100" step="1"
                          class="slider w-100" id="hybridTracking_varThresholdSlider">
                      </div> 
                      <div class="col-md-6 py-2 ">
                        <div class="d-flex" style="align-items: baseline;">
                          <h5 class="me-3" style="align-self: cente">history : </h5>
                          <code>
                            <h4 id="hybridTracking_historyValueText"> 400 </h4>
                          </code>
                        </div>
                        <input type="range" onchange="updateBackgroundSubtractionParamValue('hybridTracking_history')" min="0" max="1000" value="400" step="5"
                          class="slider w-100" id="hybridTracking_historySlider">
                      </div>
                    </div>
                    <div class="row my-1">
                      <div class="col-md-6 py-1">
                        <div class="d-flex" style="align-items: baseline;">
                          <h5 class="me-3" style="align-self: cente">morphologyEx iteration : </h5>
                          <code>
                            <h4 id="hybridTracking_morphologicalExValueText"> 3 </h4>
                          </code>
                        </div>
                        <input type="range" onchange="updateBackgroundSubtractionParamValue('hybridTracking_morphologicalEx')" min="0" max="5" value="3" step="1"
                          class="slider w-100" id="hybridTracking_morphologicalExSlider">
                      </div>
                      <div class="col-md-6 py-1">
                        <div class="d-flex" style="align-items: baseline;">
                          <h5 class="me-3" style="align-self: cente">kernel size : </h5>
                          <code>
                            <h4 id="hybridTracking_morphologicalKernelSizeValueText"> 7 </h4>
                          </code>
                        </div>
                        <input type="range" onchange="updateBackgroundSubtractionParamValue('hybridTracking_morphologicalKernelSize')" min="3" max="11" value="7" step="2"
                          class="slider w-100" id="hybridTracking_morphologicalKernelSizeSlider">
                      </div>
                      <div class="col-md-6 py-1">
                        <div class="d-flex" style="align-items: baseline;">
                          <h5 class="me-3" style="align-self: cente">Gaussien Blur kernel size : </h5>
                          <code>
                            <h4 id="hybridTracking_blurKernelSizeValueText"> 1 </h4>
                          </code>
                        </div>
                        <input type="range" onchange="updateBackgroundSubtractionParamValue('hybridTracking_blurKernelSize')" min="1" max="11" value="1" step="2"
                          class="slider w-100" id="hybridTracking_blurKernelSizeSlider">
                      </div>
                      <div class="col-md-6 py-1">
                        <div class="d-flex" style="align-items: baseline;">
                          <h5 class="me-3" style="align-self: cente">min detected area : </h5>
                          <code>
                            <h4 id="hybridTracking_minBoxSizeValueText"> 300 </h4>
                          </code>
                        </div>
                        <input type="range" onchange="updateBackgroundSubtractionParamValue('hybridTracking_minBoxSize')" min="50" max="2500" value="300" step="50"
                          class="slider w-100" id="hybridTracking_minBoxSizeSlider">
                      </div> 
                    </div>      
                </div>
              </div>
            </div>
          </div>
          <div  class="col" style="display: flex; flex-direction: column;width: 100%;">
            <img id="hybridTrackingStream_1" />
            <!-- <img id="trackingStream_2" /> -->
          </div>
        </div>
      </div>
      <!-- <div class="row gx-5 pb-4">
        <div class="d-flex" style="align-items: baseline;">
          <h5 class="me-3" style="align-self: cente">Video start from  </h5>
          <code>
            <h4 id="inputVideoSecond_ValueText"> 0%</h4>
          </code>
        </div>
        <input type="range" onchange="onChangeVideoSecondSlider()"  min="0" max="100" value="100" step="1"
          class="slider" id="inputVideoSecond_slider">
      </div>   -->
    <div class="footer py-5"></div>
  </div>
</body>
</html>